python = 3.8
conda install tensorflow
conda install pandas
conda install seaborn
conda install kde
conda install keras
conda install scikit-learn
conda uninstall numpy
pip install numpy==1.19.1
conda install pandas


================ new ================
conda install numpy==1.19
conda install tensorflow
conda install pandas
conda install seaborn
conda install kde
conda install keras
conda install scikit-learn